body {
    font-family: Helvetica, sans-serif; /* Rodzina czcionek */
    font-size: 19px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #ff8b8b; /* Kolor tła strony internetowej */
    color: #000000; /* Kolor tekstu */ 
    border: inherit;
}
h1 {
    color: #00a800; /* Kolor nagłówka */
    font-size: 50px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
    border: dashed red;
}